/* =========================
          BASE
========================= */

body {
  font-family: 'Kaiti TC','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  font-size: 62.5%;
  color: #3C3C3C;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3C3C3C;
}

section {
  margin-bottom: 100px;
}



.logo {
  width: 10%;
  max-width: 180px;
  min-width: 105px;
  padding: 0 0 0 2em;
  line-height: 80px;
}

.logo__img {
  vertical-align: middle;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.theme-color {
  color: #641388;
}

.section-title {
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
  }

  .section-title::before {
    content: "";
    width: 6px;
    height: 80%;
    background: #641388;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
  }

  .section-title::after {
    content: "";
    width: 2px;
    height: 80%;
    background: #641388;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
  }

/* =========================
          ANIMATION
========================= */

@keyframes flip-down {
  0% {
    transform: none;
  }
  40% {
    transform: none;
  }
  60% {
    transform: rotateY(360deg);
  }
  70% {
    transform: rotateY(360deg);
    transform: translateY(5px);
  }
  80% {
    transform: none;
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: none;
  }
}

/* =========================
            HERO
========================= */

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../img/header/home__hero.jpg);
  background-repeat: no-repeat;
  background-size: auto 118%;
  background-position: center;
}



.logo__a--hover:hover {
  opacity: 0.7;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-size: 5.5em;
  margin: 0;
}

/* =========================
       scroll-down
========================= */

.scroll-down {
  position: absolute;
  left: 5%;
  bottom: 1.6em;
  text-align: center;
}



.scroll-down__i {
  font-size: 4em;
  animation: flip-down 3.5s 1s infinite linear;
}

.scroll-down__text {
  margin: 5px 0 0;
  font-size: 1em;
}

/* =========================
    reservation button
========================= */

.hero-rsv-flex-container {
  justify-content: flex-start;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.rsv-by-phone__square-button, .rsv-by-line__square-button {
  width: 124px;
  height: 126px;
  padding: 0;
  border: none;
  background: #3c3c3c;
}


.rsv-by-phone__square-button:hover {
  cursor: pointer;;
  background: #641388;
  transition: all .5s ease-out;
}

.rsv-by-phone__i, .rsv-by-line__i {
  font-size: 50px;
  color: #fff;
}

.rsv-by-phone__text, .rsv-by-line__text {
  margin: 1em 0 0 0;
  font-size: 1.4em;
  color: #fff;
}

.rsv-by-line__square-button--hover:hover {
  cursor: pointer;
  background: #00b900;
  transition: all .5s ease-out;
}

/* =========================
          HEADER
========================= */


.global-nav-header {
  width: 100%;
  height: 80px;
  margin-bottom: 50px;
  position: relative;
  background: rgba(255, 255, 255, 0.5);
}

.fixed-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}

.global-nav {
  width: 75%;
  max-width: 700px;
  min-width: 500px;
  padding: 2em;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.global-nav-flex-container {
  margin: 0;
  justify-content: flex-start;
}

.global-nav__list {
  font-size: 1.8em;
}

.global-nav__list:not(:last-child) {
  margin-right: 1.5em;
}

.global-nav__a {
  color: #641388;
}

/* =========================
          CONCEPT
========================= */

.concept {
  width: 100%;
  height: auto;
  background-image: url(../img/background/background__drip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  position: relative;
}

.content-wrap {
  width: 70%;
  height: auto;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0 0 50px;
  position: relative;
  overflow: hidden;
}

.desc-box {
  width: 40%;
  max-width: 500px;
  min-width: 320px;
  position: relative;
  top: 30px;
  left: 0;
  z-index: 1;
}

.desc-box__title {
  margin: 0;
  padding: 1em 30px;
  background: #ffffff;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  color: #641388;
}

.desc-box__text-wrap {
  padding: 10px;
}

.desc-box__text {
  margin: 0;
  text-align: center;
  line-height: 2em;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: lighter;
}

.desc-box__text:not(:first-child) {
  margin: 1em auto;
}

.concept__img-wrap {
  width: 650px;
  height: auto;
  min-height: 450px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.concept__img {
  width: 100%;
  min-height: 450px;
}
/* =========================
     SNS link fiexed
========================= */

.sns-button {
  position: absolute;
  top: 50%;
  transform: translateX(-50%);
  right: 10px;
}

.sns-button--fixed {
  position: fixed;

}

.sns-flex-container--fixed {
  padding: 0;
  flex-flow: column;
  position: relative;
  display: inline-block;
}


.sns-flex-container--fixed::before {
  content: "";
  width: 2px;
  height: 80px;
  background: #3c3c3c;
  position: absolute;
  top: calc(-100% - 20px);
  left: 50%;
  transform: translateX(-50%);
}

.sns-flex-container--fixed::after {
  content: "";
  width: 2px;
  height: 80px;
  background: #3c3c3c;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
}

.sns__i--white {
  color: #ffffff;
}

.sns__facebook--hover:hover {
  color: #3b5998;
}

.sns__twitter--hover:hover {
  color: #55ACEE;
}

.sns__instagram--hover:hover {
   background: webkit-linear-gradient(200deg, #8a3ab9,#e95950,#bc2a8d 40%,#fccc63,#fbad50 98%, #cd486b,#4c68d7);
   background: linear-gradient(200deg, #8a3ab9,#e95950,#bc2a8d,#fccc63,#fbad50 98%, #cd486b ,#4c68d7);;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.sns__i {
  font-size: 28px;
}

.sns__i--column {
  margin-bottom: 10px;
}

/* =========================
          NEWS
========================= */

.news {
  background-image: url(../img/background/background__circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.news__title {
  margin: 50px 0 50px;
}

.news-flex-container {
  width: 80%;
  max-width: 980px;
  min-width: 320px;
  margin: 0 auto;
  border: 1px solid #641388;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.9);
}

.info-box {
  width: 250px;
  margin: 30px;
  text-align: center;
}

.info-box__img-wrap {
  width: 100%;
  height: 200px;
  overflow: hidden;
}

.info-box__img {
  width: auto;
  height: 100%;
  transform: scale(1.2, 1.2);
}

.info-box__time {
  margin: 10px;
  display: inline;
  position: relative;
  font-size: 1.6em;
}

.info-box__time::before {
  content:"";
  width: 3px;
  height: 100%;
  background: #641388;
  position: absolute;
  top: 0;
  left: -8px;
}

.info-box__label {
  font-size: 1.6em;
}

.info-box__label--blue {
  color: #161f8e;
}

.info-box__label--red {
  color: #cb0616;
}

.info-box__title {
  font-size: 1.8em;
  font-weight: normal;
}

.info-box__img--hover:hover {
  opacity: 0.7;
  transform: scale(1.25, 1.25);
  transition: all 0.7s ease;
}

.info-box__title--hover:hover {
  color: #641388;
  transition: all 0.7s ease;
}

/* =========================
          REVIEWS
========================= */

.reviews {
  background-image: url(../img/background/background__wind.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reviews-flex-container {
  width: 90%;
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto;
  justify-content: space-around;
}

.reviews__img-wrap {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border: 1px solid #641388;
  overflow: hidden;
  align-self: center;
  order: 2;
}

.reviews__img {
  width: auto;
  height: 100%;
  transform: scale(1.2, 1.2);
  transform-origin: right bottom;
}

.review-box {
  margin-bottom: 30px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #641388;
}

.review-box__title {
  margin: 0 0 80px;
  text-align: center;
  font-size: 1.8em;
}

.review-box__text {
  margin: 0 0 20px;
  position: relative;
  font-size: 1.6em;
  line-height: 1.5em;
}

.review-box__text-first::before {
  content: "";
  width: 80%;
  height: 2px;
  background: #641388;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}

.review-box__text-first::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  border-top: 20px solid #641388;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}



.review-box__text--small {
  text-align: center;
}

.review-box-01 {
  width: 40%;
  max-width: 400px;
  min-width: 320px;
  height: auto;
  top: 0;
  left: 0;
  align-self: center;
  order: 1;
}

.review-box-02 {
  width: 40%;
  max-width: 450px;
  min-width: 320px;
  height: auto;
  top: 550px;
  align-self: center;
  order: 3;
}

.review-box-03 {
  width: 40%;
  max-width: 400px;
  min-width: 320px;
  height: auto;
  align-self: center;
  order: 4;
}

.review-box-04  {
  width: 70%;
  max-width: 500px;
  min-width: 320px;
  align-self: center;
  order: 5;
}

/* =========================
          ACCESS
========================= */

.access {
  background-image: url(../img/background/background__oval.png);
  background-repeat: no-repeat;
  background-position: 120% 100%;
  background-size: contain;
}

.access-flex-container {
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.map-wrap {
  width: 60%;
  max-width: 750px;
  min-width: 320px;
  height: 100%;
  min-height: 375px;

}

.info {
  width: 30%;
  min-width: 320px;
  background: #00f;
  position: relative;
}

.info-logo {
  width: 30%;
  max-width: 124px;
  min-width: 105px;
  margin: 0;
  padding: 0;
  display: inline-block;
}

.sns {
  display: inline-block;
}

.sns-flex-container {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.sns__i--row {
  margin-right: 10px;
}