/* =========================
          BASE
========================= */

body {
  font-family: 'Kaiti TC','ヒラギノ明朝 ProN','Hiragino Mincho ProN',sans-serif;
  font-size: 62.5%;
  color: #3C3C3C;
}

img {
  width: 100%;
  height: auto;
  vertical-align: bottom;
}

ul, li, dl, dt, dd {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #3C3C3C;
}

th, td {
  padding: 8px;
}

section {
  margin-bottom: 100px;
}

.logo {
  width: 10%;
  max-width: 180px;
  min-width: 105px;
  padding: 0 0 0 2em;
  line-height: 80px;
}

.logo__img {
  vertical-align: middle;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
}

.theme-color {
  color: #641388;
}


input {
  margin: 0;
  padding: .5em;
  box-sizing: border-box;
}

select {
  padding: 0.5em;
  margin: 0 10px 20px 0;
}

.section__title {
    margin-bottom: 50px;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    display: inline-block;
    font-size: 2em;
  }

  .section__title::before {
    content: "";
    width: 6px;
    height: 80%;
    background: #8A4DA5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -21px;
  }

  .section__title::after {
    content: "";
    width: 2px;
    height: 80%;
    background: #8A4DA5;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -10px;
  }

/* =========================
          JavaScript
========================= */

  .js-hidden {
    opacity: 0;
    transform: translateY(50px);
  }

  .js-showup {
    opacity: 1;
    transform: translateY(0);
    transition: all 1.5s ease-out;
  }

/* =========================
          ANIMATION
========================= */

@keyframes flip-down {
  0% {
    transform: none;
  }
  40% {
    transform: none;
  }
  60% {
    transform: rotateY(360deg);
  }
  70% {
    transform: rotateY(360deg);
    transform: translateY(5px);
  }
  80% {
    transform: none;
  }
  90% {
    transform: translateY(5px);
  }
  100% {
    transform: none;
  }
}

@keyframes flip-up {
  0% {
    transform: none;
  }
  40% {
    transform: none;
  }
  60% {
    transform: rotateY(360deg);
  }
  70% {
    transform: rotateY(360deg);
    transform: translateY(-5px);
  }
  80% {
    transform: none;
  }
  90% {
    transform: translateY(-5px);
  }
  100% {
    transform: none;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/* =========================
            HERO
========================= */

.hero {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-image: url(../img/header/home__hero.jpg);
  background-repeat: no-repeat;
  background-size: auto 118%;
  background-position: center;
  overflow: hidden;
}



.logo__a--hover:hover {
  opacity: 0.7;
}

.hero__title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-weight: normal;
  font-size: 5.5em;
  margin: 0;
  animation: fade-in 3.5s ease;
}

/* =========================
     hambarger menu
========================= */

.hambarger {
  float: right;
  border: none;
  margin: 24px 20px 0 0;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  z-index: 3;
}

.hambarger:focus {
  outline: 0;
}

.hambarger__bar {
  width: 40px;
  height: 4px;
  border-radius: 4px;
  background: #641388;
  display: block;
}

.hambarger__bar:not(:last-child) {
  margin-bottom: 10px;
}

.hambarger__bar1.js-drawer--show {
  transform: translateY(14px) rotate(45deg);
}

.hambarger__bar2.js-drawer--show {
  transform: translateX(20px);
  opacity: 0;
  transition: .3s ease;
}

.hambarger__bar3.js-drawer--show {
  transform: translateY(-14px) rotate(-45deg);
}

.drawer {
  width: 60%;
  height: 100vh;
  padding: 80px 0;
  background: rgba(255, 255, 255, 0.9);
  position: absolute;
  top: 0;
  right: -60%;
  transition: .3s ease-in-out;
}

.drawer.js-drawer--show {
  right: 0;
}

.menu-wrap {
  width: 100%;
  height: 100%;
}

.hambarger-flex-container {
  width: 100%;
  height: 100%;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}

.hambarger__a {
  color: #641388;
  font-size: 1.8em;
}

@media screen and (min-width: 960px) {
  .hambarger {
    display: none;
  }
  .drawer {
    display: none;
  }
}


/* =========================
       scroll-down
========================= */

.scroll-down {
  position: absolute;
  left: 5%;
  bottom: 1.6em;
  text-align: center;
}



.scroll-down__i {
  font-size: 4em;
  animation: flip-down 3.5s 1s infinite linear;
}

.scroll-down__text {
  margin: 5px 0 0;
  font-size: 1em;
}

/* =========================
    reservation button
========================= */

.hero-rsv-flex-container {
  justify-content: flex-start;
  position: fixed;
  right: 0;
  bottom: 0;
  z-index: 1;
}

.rsv-by-phone__square-button, .rsv-by-line__square-button {
  width: 70px;
  height: 72px;
  padding: 5px;
  border: none;
  background: #3c3c3c;
}


.rsv-by-phone__square-button:hover {
  cursor: pointer;;
  background: #641388;
  transition: all .5s ease-out;
}

.rsv-by-phone__i, .rsv-by-line__i {
  font-size: 30px;
  color: #fff;
}

.rsv-by-phone__text, .rsv-by-line__text {
  margin: 1em 0 0 0;
  font-size: 1em;
  color: #fff;

}

.rsv-by-line__square-button--hover:hover {
  cursor: pointer;
  background: #00b900;
  transition: all .5s ease-out;
}


/* middle screen */
@media screen and (min-width: 560px) {

  .rsv-by-phone__square-button, .rsv-by-line__square-button {
    width: 100px;
    height: 102px;
    padding: 5px;
    border: none;
    background: #3c3c3c;
  }


  .rsv-by-phone__i, .rsv-by-line__i {
    font-size: 3.5em;
    color: #fff;
  }

  .rsv-by-phone__text, .rsv-by-line__text {
    margin: 1em 0 0 0;
    font-size: 1.3em;
    color: #fff;
  }

}

/* large screen */
@media screen and (min-width:960px) {
  .rsv-by-phone__square-button, .rsv-by-line__square-button {
    width: 124px;
    height: 126px;
    padding: 5px;
    border: none;
    background: #3c3c3c;
  }

  .rsv-by-phone__i, .rsv-by-line__i {
    font-size: 50px;
    color: #fff;
  }

  .rsv-by-phone__text, .rsv-by-line__text {
    margin: 1em 0 0 0;
    font-size: 1.4em;
    color: #fff;
  }

}

/* =========================
     SNS link fiexed
========================= */

.sns-button {
  position: absolute;
  top: 150vh;
  transform: translateY(-50%);
  right: 10px;
  z-index: 1;
}

.sns-button--fixed {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 10px;
}

.sns-flex-container--fixed {
  padding: 0;
  flex-flow: column;
  position: relative;
  display: inline-block;
}


.sns-flex-container--fixed::before {
  content: "";
  width: 2px;
  height: 80px;
  background: #3c3c3c;
  position: absolute;
  top: calc(-100% - 20px);
  left: 50%;
  transform: translateX(-50%);
}

.sns-flex-container--fixed::after {
  content: "";
  width: 2px;
  height: 80px;
  background: #3c3c3c;
  position: absolute;
  top: calc(100% + 20px);
  left: 50%;
  transform: translateX(-50%);
}

.sns__i--white {
  color: #ffffff;
}

.sns__facebook--hover:hover {
  color: #3b5998;
}

.sns__twitter--hover:hover {
  color: #55ACEE;
}

.sns__instagram--hover:hover {
   background: webkit-linear-gradient(200deg, #8a3ab9,#e95950,#bc2a8d 40%,#fccc63,#fbad50 98%, #cd486b,#4c68d7);
   background: linear-gradient(200deg, #8a3ab9,#e95950,#bc2a8d,#fccc63,#fbad50 98%, #cd486b ,#4c68d7);;
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}

.sns__i {
  font-size: 28px;
}

.sns__i--column {
  margin-bottom: 10px;
}

/* =========================
          HEADER
========================= */

/* small screen  and middle screen*/
.global-nav-area {
  width: 100%;
  height: 80px;
}

.global-nav-header {
  display: none;
}

/* large screen */
@media screen and (min-width: 960px) {

  /* global-navのエリア確保用 */
  .global-nav-area {
    width: 100%;
    height: 80px;
    position: relative;
    background: transparent;
  }
  
  .global-nav-header {
    width: 100%;
    height: 80px;
    margin-bottom: 50px;
    position: relative;
    background: rgba(255, 255, 255, 0.5);
    display: block;
  }
  
  .global-nav-header--fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
  }
  
  .global-nav {
    width: 75%;
    max-width: 700px;
    min-width: 320px;
    padding: 2em;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .global-nav-flex-container {
    margin: 0;
    justify-content: space-between;
  }
  
  .global-nav__list {
    font-size: 1.8em;
  }
  
  .global-nav__a:not(:last-child) {
    margin-right: 1.5em;
  }
  
  .global-nav__a {
    color: #641388;
  }
  
  .global-nav__list:hover {
    transform: translateY(-3px);
  }
  
  /* middle screen */
  @media screen and (min-width: 560px) {
    
  
  }
}



/* =========================
          CONCEPT
========================= */

.concept {
  width: 100%;
  height: auto;
  background-image: url(../img/background/background__drip.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.content-wrap {
  width: 70%;
  height: auto;
  min-width: 320px;
  height: auto;
  margin: 0 auto;
  padding: 0 0 50px;
  position: relative;
  overflow: hidden;
}

.desc-box {
  width: 40%;
  max-width: 500px;
  min-width: 320px;
  position: relative;
  top: 30px;
  left: 0;
  z-index: 1;
}

.desc-box__title {
  margin: 0;
  padding: 1em 30px;
  background: #ffffff;
  text-align: center;
  font-size: 2em;
  font-weight: normal;
  color: #641388;
}

.desc-box__text-wrap {
  padding: 10px;
}

.desc-box__text {
  margin: 0;
  text-align: center;
  line-height: 2em;
  color: #ffffff;
  font-size: 1.6em;
  font-weight: lighter;
}

.desc-box__text:not(:first-child) {
  margin: 1em auto;
}

.concept__img-wrap {
  width: 650px;
  height: auto;
  min-height: 450px;
  margin-left: auto;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 0;
}

.concept__img {
  width: 100%;
  min-height: 450px;
}


/* =========================
          NEWS
========================= */

.news {
  background-image: url(../img/background/background__circle.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.news__title {
  margin: 50px 0 50px;
}

.news-flex-container {
  width: 80%;
  max-width: 980px;
  min-width: 320px;
  margin: 0 auto;
  border: 1px solid #641388;
  justify-content: space-around;
  background: rgba(255, 255, 255, 0.9);
}

.info-box {
  width: 250px;
  margin: 30px;
  text-align: center;
}

.info-box__img-wrap {
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  overflow: hidden;
}

.info-box__img {
  width: auto;
  height: 100%;
  transform: scale(1.2, 1.2);
}

.info-box__time {
  margin: 10px;
  display: inline;
  position: relative;
  font-size: 1.6em;
}

.info-box__time::before {
  content:"";
  width: 3px;
  height: 100%;
  background: #641388;
  position: absolute;
  top: 0;
  left: -8px;
}

.info-box__label {
  font-size: 1.6em;
}

.info-box__label--blue {
  color: #161f8e;
}

.info-box__label--red {
  color: #cb0616;
}

.info-box__title {
  font-size: 1.8em;
  font-weight: normal;
}

.info-box__img--hover:hover {
  opacity: 0.7;
  transform: scale(1.25, 1.25);
  transition: all 0.7s ease;
}

.info-box__title--hover:hover {
  color: #641388;
  transition: all 0.7s ease;
}

/* =========================
          REVIEWS
========================= */

.reviews {
  background-image: url(../img/background/background__wind.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.reviews-flex-container {
  width: 90%;
  max-width: 1100px;
  min-width: 320px;
  margin: 0 auto;
  justify-content: space-around;
}

.reviews__img-wrap {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  border: 1px solid #641388;
  overflow: hidden;
  align-self: center;
  order: 2;
}

.reviews__img {
  width: auto;
  height: 100%;
  transform: scale(1.2, 1.2);
  transform-origin: right bottom;
}

.review-box {
  margin-bottom: 30px;
  padding: 30px;
  background: #ffffff;
  border: 1px solid #641388;
}

.review-box__title {
  margin: 0 0 80px;
  text-align: center;
  font-size: 1.8em;
}

.review-box__text {
  margin: 0 0 20px;
  position: relative;
  font-size: 1.6em;
  line-height: 1.5em;
}

.review-box__text-first::before {
  content: "";
  width: 80%;
  height: 2px;
  background: #8A4DA5;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -60px;
}

.review-box__text-first::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  top: -40px;
  border-top: 20px solid #8A4DA5;
  border-right: 15px solid transparent;
  border-left: 15px solid transparent;
}



.review-box__text--small {
  text-align: center;
}

.review-box-01 {
  width: 40%;
  max-width: 400px;
  min-width: 320px;
  height: auto;
  top: 0;
  left: 0;
  align-self: center;
  order: 1;
}

.review-box-02 {
  width: 40%;
  max-width: 450px;
  min-width: 320px;
  height: auto;
  top: 550px;
  align-self: center;
  order: 3;
}

.review-box-03 {
  width: 40%;
  max-width: 400px;
  min-width: 320px;
  height: auto;
  align-self: center;
  order: 4;
}

.review-box-04  {
  width: 70%;
  max-width: 500px;
  min-width: 320px;
  align-self: center;
  order: 5;
}

/* =========================
          ACCESS
========================= */

.access {
  background-image: url(../img/background/background__oval.png);
  background-repeat: no-repeat;
  background-position: 100% 100%;
  background-size: contain;
}

.access-flex-container {
  width: 100%;
  margin: 0 auto;
  justify-content: space-around;
}

.map-background {
  width: 60%;
  max-width: 800px;
  min-width: 320px;
  height: 100%;
  min-height: 500px;
  margin-bottom: 50px;
  position: relative;
  background-image: url(../img/background/background__map.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  /* background: blue; */
}

.map-wrap {
  width: 90%;
  max-width: 750px;
  min-width: 320px;
  min-height: 375px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.info {
  width: 30%;
  min-width: 320px;
  padding: 40px;
  position: relative;
}

.info-logo {
  width: 30%;
  max-width: 124px;
  min-width: 105px;
  margin: 0 30px 10px 0;
  padding: 0;
  line-height: normal;
  display: inline-block;
}

.sns {
  display: inline-block;
}

.sns-flex-container {
  flex-flow: row nowrap;
  justify-content: flex-start;
}

.sns__i--row {
  margin-right: 10px;
  vertical-align: middle;
}

.sns__i--white {
  color: #ffffff;
}

.info__address-wrap {
  color: #ffffff;
  font-size: 1.4em;
}

.info__address-zip {
  margin-bottom: 0;
}

.info__address {
  margin-top: 0;
}


.business-time-table {
  margin: 20px 0;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  font-size: 1.6em;
}

.business-time-table__business-hour {
  min-width: 60px;
  vertical-align: bottom;
}

.business-time__td--small {
  text-align-last: left;
  vertical-align: bottom;
  font-size: 0.7em;
}

.info__tel {
  margin: 0;
  color: #ffffff;
  font-size: 1.4em;
}

.info__tel--large {
  margin: 0;
  font-size: 3.5em;
}

.sns__line--hover:hover {
  color: #00b900;
}

/* =========================
          CONTACT
========================= */

.contact {
  background-image: url(../img/background/background__bar.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.contact-form {
  width: 60%;
  min-width: 320px;
  height: auto;
  margin: 0 auto 50px;
  padding: 50px 30px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 12px #4e4e4e;
  font-size: 1.6em;
}

.contact-flex-container {
  flex-flow: row wrap;
  justify-content: center;
}

.contact-form__label {
  width: 30%;
  min-width: 260px;
}

.contact-form__input {
  width: 50%;
  height: 3em;
  min-width: 260px;
  margin-bottom: 30px;
  border: 1px solid #641388;
  font-size: 1em;
}

.contact-form__name-area {
  width: 50%;
  min-width: 260px;
}

.contact-form__name--familyname {
  width: calc(50% - 5px);
  min-width: 260px;
  margin-right: 10px;
}

.contact-form__name--givenname {
  width: calc(50% - 5px);
  min-width: 260px;
}

.contact-form__select {
  width: 50%;
  border: 1px solid #641388;
}

.contact-form__checkbox {
  margin-right: 10px;
}

.contact-form__textarea {
  width: 50%;
  min-width: 260px;
  height: 20em;
  margin-bottom: 30px;
  padding: 10px;
  border: 1px solid #641388;
  font-size: 1em;
}

.contact-form__agree-area {
  width: 100%;
  margin-bottom: 50px;
  text-align: center;
}

.contact-form__submit {
  width: 200px;
  height: 50px;
  border-radius: 25px;
  color: #641388;
  font-size: 1em;
  border: 1px solid #641388;
}

.contact-form__submit--hover:hover {
  cursor: pointer;
  color: #ffffff;
  background: #8A4DA5;
  transition: all .7s ease;
}

/* =========================
          FOOTER
========================= */

.footer {
  margin-top: 200px;
}

.footer-flex-container {
  flex-flow: row wrap;
  justify-content: center;

}


.footer-box {
  padding: 30px;
  text-align: center;
  color: #8A4DA5;
  font-size: 1.4em;
}

.footer-box__title {
  margin: 0 auto 20px;
  display: inline-block;
  position: relative;
  text-align: center;
  font-size: 1.6em;
  font-weight: normal;
}

.footer-box__title::before {
  content: url(../img/footer/footer__label.svg);
  position: absolute;
  top: 10%;
  left: -35px;
}

/* site map */

.footer-box-01 {
  width: 15%;
  min-width: 155px;
}

.footer-menu-wrap {
  text-align-last: left;
}


.footer-menu__list:not(:last-child) {
  margin-bottom: 10px;
}

.footer-menu__a {
  color: #8A4DA5;
}

.footer-menu__a--hover:hover {
  opacity: 0.7;
}

/* social medeia */

.footer-box-02 {
  width: 15%;
  min-width: 165px;
}

.footer-sns-wrap {
  text-align-last: left;
}

.sns__i-footer {
  color: #8A4DA5;
  margin: 0 10px 10px 0;
}

.sns__name {
  color: #8A4DA5;
}

/* reservation button */

.footer-box-03 {
  width: 40%;
  min-width: 320px;
}

.footer__logo {
  width: 30%;
  max-width: 200px;
  min-width: 105px;
  margin: 0 auto 30px auto;
  padding: 0;
}

.footer-rsv-flex-container {
  justify-content: space-around;
}

.rsv-by-phone--rectangle, .rsv-by-line--rectangle {
  width: 200px;
  height: 70px;
  margin: 0 10px 10px 0;
  padding: 10px;
  background: #ffffff;
  border: 2px solid #8A4DA5;
}

.rsv-by-phone--rectangle:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all .5s ease-out;
}

.rsv-by-line--rectangle:hover {
  cursor: pointer;
  opacity: 0.7;
  transition: all .5s ease-out;
}

.rsv-by-phone__i--footer, .rsv-by-line__i--footer {
  color: #8A4DA5;
  margin-right: 10px;
}

.rsv-by-phone__text--footer, .rsv-by-line__text--footer {
  margin: 0;
  color: #8A4DA5;
  line-height: 50px;
  vertical-align: top;
  font-size: 1.6em;
}

/* company */

.footer-box-04 {
  width: 30%;
  min-width: 320px;
}

.footer-info-wrap {
  text-align-last: left;
}

.footer-box__p {
  margin-bottom: 10px;
  font-size: 1em;
}

.footer-box__zip {
  margin: 0;
}

.footer-box__address {
  margin-top: 0;
}

.footer-box__p--small {
  font-size: 0.8em;
}

.footer-box__p--large {
  margin: 0;
  line-height: 1.2em;
  font-size: 3rem;
}

.footer-box__business-hour {
  margin-top: 0;
}


.footer__copyright {
  text-align: center;
  color: #ffffff;
  font-size: 1em;
}

.footer__bottom-link-wrap {
  padding-bottom: 1em;
  text-align: center;
  color: #ffffff;
}

.footer-bottom-link__li {
  display: inline-block;
}

.footer-bottom-link__li:not(:last-child)::after {
  content: "|";
  margin-left: 5px;
}

.footer-bottom-link__a {
  color: #ffffff;
}

.footer-copyright-wrap {
  padding-top: 30px;
  background-image: url(../img/background/background__oval-footer.png);
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
}


/* =========================
       scroll-up
========================= */

.scroll-up {
  position: fixed;
  left: 5%;
  bottom: 1.6em;
  text-align: center;
}



.scroll-up__i {
  font-size: 4em;
}

.scroll-up__text {
  margin: 5px 0 0;
  font-size: 1em;
}